/** Exemplo de Galeria CSS3 por (C) Andrea Giammarchi para Ajaxian */
html, body, ul.thumb, ul.thumb li {
    padding: 0;
    margin: 0;
}
html, body, ul.thumb {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
ul.thumb {
    position: relative;
    list-style: none;
    /* Um fundo de gradiente com ampla difusão é bastante difícil
       de lidar sem Direct2D ou melhores estratégias de hardware, mas
       isso poderia tornar o efeito de sombra da caixa mais real ao mesmo tempo.
       Definindo-o como importante, podemos garantir que o navegador compatível o usará
       enquanto outros navegadores usarão apenas a cor de fundo normal
    */
    background: -webkit-gradient (radial, 45 45, 50, 50 10, 640, from(#444), to(#333)) !important;
    background: #333;
}
ul.thumb li {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 6px 6px 24px 6px;
    background: #FFF;
    width: 150px;
    height: 130px;
    /* A sombra da caixa também é pesada se precisarmos
       girá-la durante a animação ou se
       não tivermos um fundo plano atrás.
       O canal alfa precisa funcionar muito,
       mas dá uma sensação de 3D.
    */
    -moz-box-shadow:1px 1px 6px #222;
	-webkit-box-shadow:1px 1px 6px #222;
	box-shadow:1px 1px 6px #222;
    /* Para ativar efeitos de transição,
       isso é tudo o que precisamos.
       Especificar "all" significa que
       o navegador tentará resolver
       e computar tudo,
       incluindo z-index.
    */
    -webkit-transition: all 1s ease-in-out;
    /* Para criar uma melhor sensação de 3D,
       z-index estará em uma faixa de 0 a 10.
       Isso significa que enquanto outra imagem está indo
       de volta para sua posição, outra imagem rolada
       alcançará gradualmente um z-index mais alto.
    */
    z-index: 0;
}
ul.thumb li img {
    width: 100%;
    height: 100%;
}
/* Cada imagem terá uma rotação falsa
   para simular uma mesa desordenada.
   Não está claro para mim por que gostamos tanto
   de coisas giradas ... provavelmente porque nós
   gostamos de colocar ordem sem esforço
   e simplesmente com um hover ou clique?
*/
ul.thumb li:nth-child(1) {
    margin-top: -130px;
    margin-left: -130px;
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-filter: blur(5px);
}
ul.thumb li:nth-child(2) {
    margin-top: -120px;
    margin-left: -10px;
    -moz-transform: rotate(19deg);
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
    -webkit-filter: blur(4px);
}
ul.thumb li:nth-child(3) {
    margin-top: -10px;
    margin-left: -180px;
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-filter: blur(3px);
}
ul.thumb li:nth-child(4) {
    margin-top: -50px;
    margin-left: -80px;
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
    -webkit-filter: blur(2px);
}
ul.thumb li:nth-child(5) {
    margin-top: 20px;
    margin-left: 30px;
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    -webkit-filter: blur(1px);
}

/* Aqui está como o elemento LI deve parecer
   no final da transição que
   será ativada no seletor especial de hover.
*/
ul.thumb li:hover{
    z-index: 10;
    /* Tamanho original da imagem */
    width: 480px;
    height: 322px;
    /* Coloca o LI no centro (quase devido ao preenchimento inferior) */
    margin-top: -151px;
    margin-left: -240px;
    /* O efeito é um "zoom", a sombra será maior */
    -moz-box-shadow:8px 8px 24px #111;
	  -webkit-box-shadow:8px 8px 24px #111;
	  box-shadow:8px 8px 24px #111;
    /* E finalmente ordem via rotação de zero graus */
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -webkit-filter: blur(0px);
    transform: rotate(0deg);
}
/* Apenas alguns créditos fixos na parte inferior da página ... */
div.copyright {
    position: fixed;
    width: 100%;
    bottom: 20px;
    color: #666;
    text-align: center;
    font-family: sans-serif;
    font-size: 8pt;
}
div.copyright a {
    color: #555;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}
div.copyright a:hover {
    color: #888;
    border-bottom: 1px dotted #555;
}
